/* Grid container for the rest of the blog posts */
.container__2 {
  display: grid;
   grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.jumbotron {
  text-align: center;
}

.card-header{
  background: #2563eb;
}


.container .card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query to stack cards into a single column on smaller screens */
@media (max-width: 600px) {
  .container__2 {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
